*{
    background-color: aliceblue;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: aliceblue;
    border: 2px solid grey;
    padding: 0px;
    /* border-radius: 10px; */
}

main #dob{
    margin-top: 10px;
}